MAIL_HOST=smtp.163.com
MAIL_PORT=465
MAIL_FROM=natapp_notify@163.com
MAIL_USER=natapp_notify
MAIL_AUTH= # SMTP authentication key from mail server
MAIL_TO=someone@example.com # change it
LOG_FILE=/root/log
NATAPP_AUTH_TOKEN= # free natapp token from NATAPP.CN
HOST_PORT=22